{
  "arrowParens": "always",
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.jsonc", ".*.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
